@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  background-color: rgb(255, 255, 255);
} 

.moneyShadow {
  filter: drop-shadow(6px 45px 8px rgba(0, 0, 0, 0.55));
}

.howWorkShadow {
  filter: drop-shadow(30px 20px 30px rgba(0, 0, 0, 0.25));
}

.colorImage {
  color: white;
}

/* .animationRocket {
  animation: rocket 1s ease-in-out infinite alternate;
}

@keyframes rocket {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
} */

/* .blob1-bg {
  background: url("/images/blob2.svg") no-repeat;
  background-size: 30%;
  background-position: -15% -90%;
} */

/* .blob5-bg {
  background: url("/images/blob5.svg") no-repeat;
  background-size: 60%;
  background-position: 120% 50%;

} */